langgraph
langgraph-checkpoint-sqlite
langchain
langchain-ollama
langchain-community
langchain-chroma
chromadb
duckduckgo-search>=5.0.0
ddgs
streamlit
fastapi
uvicorn
pytest
transformers
torch
torchvision
pillow
pysqlite3
